#limiter-override{
	width: 100%;
	height: 100%
}

#container-login100-override{
	width: 100%;
	height: 100%;
}

#wrap-login100-override{
	height: 100%
}

#login100-form-logo-override{
	background-color: transparent
}