<html>
	<body>
		<div th:fragment = "commonsidebar" style="height: 100%; background-color: #224ABE">
		  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
			<li class="nav-item active">
                <a class="nav-link" th:href="@{/home?loginMessage=Home}">
                    <span><img src="Theme/img/Company_Logo.png" width="80px" height="100px"></span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home?loginMessage=Home}">
                    <i class="fas fa-home"></i>
                    <span>Home</span></a>
            </li>
            
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Security</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/user}">Users</a>
						<a class="collapse-item" th:href="@{/permissions}">Permissions</a>
                    </div>
                </div>
            </li>


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
       	  </ul>
		</div>
	</body>
</html>